.App {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100vh;
  background-color: #f5f5f5;
}

.controls-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.preview-box {
  flex-grow: 1;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
  background-color: #fff;
  width: calc(100vw - 250px);
  height: calc(100vh - 50px);
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
}

button:hover {
  background-color: #0056b3;
}
